on:
  schedule:
    - cron: '0 */12 * * *'
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
    - name: Install dependencies
      run: npm install
    - name: Generate README.md
      run: node generate-stats.js
      env:
        USER_API_TOKEN: ${{ secrets.USER_API_TOKEN }}
        GITHUB_TOKEN: ${{ github.token }}
    - name: Update README.md
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Update README"
        file_pattern: README.md
